#hero-bg {
  background: url("/img/tara.jpg") no-repeat center;
  background-size: cover;
  transition: width 2s ease, height 2s ease;
}


@media (min-width: 768px) {
  #hero-bg {
    background: url("/img/skin.jpg") no-repeat 40%;
    background-size: cover;
    transition: width 2s ease, height 2s ease-out;
  }

}
